/* Styling the main body*/
body {
    background-color: aliceblue;
}

/*Styling the h1 tag*/
h1{
    background-color: lightpink;
    padding: 20px;
    text-align: center;
}

/*Styling the img tag*/
a img{
    float: left;
    border-style: solid;
    border-color: gold;
    border-radius: 60px;
    border: goldenrod;
    padding: 6px;
}

button{
    background-color: lightskyblue;
    border: none;
    padding: 20px 70px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
}

.account{
    text-align: center;
}

.account img{
    text-align: center;
}