#contact{
    background-color: lightgoldenrodyellow;
    text-align: center;
}

.socials > div{
    display: inline-block;
}

.socials{
    background-color: lightpink;
    text-align: center;
    border-radius: 20px;
}

.fb, .ins, .tt, .yt{
    margin: 5px;
}

h2{
    border-radius: 20px;
}