/* Styling the main body*/
body {
    background-color: aliceblue;
}

h1{
    background-color: lightpink;
    padding: 20px;
    text-align: center;
}

/*Styling the img tag*/
img{
    float: left;
    border-style: solid;
    border-color: gold;
    border-radius: 60px;
    border: goldenrod;
    padding: 15px;
}

/*Styling the input tags*/
input{
    background-color: lightskyblue;
    border: none;
    padding: 20px 70px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
}
